@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$white: hsl(0, 0%, 100%);
$lightgray: hsl(189, 41%, 97%);
$lightblue: hsl(185, 41%, 84%);
$transparentgray: hsla(186, 14%, 43%, 0.656);
$gray: hsl(186, 14%, 43%);
$strongblue: hsl(183, 100%, 15%);
$primary: hsl(172, 67%, 45%);
$radio: 20px;


*{
    font-family: "Space Mono";
}

body{
    background-color: $lightblue;
    width: auto;
}

h1{
    text-align: center;
    letter-spacing: 10px;
    color: $strongblue;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    background-color: $white;
    max-width: 900px;
    padding: 28px;
    border-radius: $radio;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.elemento{
    display: flex;
    flex-direction: row;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

input[type=number]:not(.custom){ 
  background-color: $lightgray;
  border: none;
  margin: 0; 
  width: 100%;
  text-align: right;
  font-size: 24px;
  border-radius: 5px;
  padding: 2%;
  color: $strongblue;
  font-weight: bold;
}

input::placeholder{ color: $transparentgray}

input[type=number]:focus{
    outline: 2px solid $primary;
}

.input-wrapper {
    position: relative;
 }
 
 .input-icon{
    color: $transparentgray;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
 }
 
 button{
    border: none;
    margin-bottom: 10px;
    font-size: 24px;
    border-radius: 5%;
    background-color: $strongblue;
    color: $white;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
}

button:hover{
    background-color: $primary;
    color: $strongblue;
    font-weight: bold;
}

button:active{
    background-color: $primary;
    color: $strongblue;
    font-weight: bold;
}

.custom{
    text-align: center;
    border: none;
    width: 107px;
    margin-bottom: 10px;
    font-size: 24px;
    border-radius: 5%;
    background-color: $lightgray;
}

.column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.row{
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}

.columnbutton{
    display: flex;
    justify-content: space-between;
}

input[type=reset].reset{
    border: none;
    width: 110px;
    margin-bottom: 10px;
    font-size: 24px;
    background-color:$gray;
    color: $strongblue;
    width: 350px;
    border-radius: 5px;
    margin-top: 100px;
}

input[type=reset].reset:active{
    border: none;
    margin-bottom: 10px;
    font-size: 24px;
    background-color: $primary;
    color: $strongblue;
    border-radius: 5px;
    margin-top: 100px;
}

.per-person{
    font-size: small;
    font-weight: bold;
    color: $gray;
}

.result{
    display: grid;
    padding-bottom: 30px;
    font-size: 34px;
    color: $primary;
    font-weight: bold
}

.column-result{
    display: flex;
    justify-content: space-between;
}

.container2{
    color: $white;
    display: flex;
    flex-direction: column;
    background-color: $strongblue;
    padding: 41px;
    width: 320px;
    border-radius: $radio;
}

.row-result1{
    display: flex;
    flex-direction: column;
}

.row-result2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.row1{
    display: grid;
}

.error{
    text-align: right;
    color: red;
    margin-top: -37px;
    visibility: hidden;
}

@media screen and (max-width: 1024px){
    .container{
        grid-template-columns: repeat(1, 1fr);
        max-width: 450px;
        padding: 10px;

    }
    .container2{
        display: flex;
        max-width: 500px;
        min-width: 300px;
        justify-content: center;
    }
    .column-result{
        max-width: 300px;
    }
    .buttons{
        grid-template-columns: repeat(2, 1fr);

    }
    input[type=number]:not(.custom){
        min-width: 0px;
    }
   
}

@media screen and (max-width: 450px){
    .container{
        grid-template-columns: repeat(1, 1fr);
        max-width: 310px;
        min-width: 270px;
    }
    .container2{
        max-width: 200px;
        min-width: 100px;

    }
    .column-result{
        max-width: 300px;
    }
    input[type="number"]:not(.custom){
        display: flex;
        align-self: center;
        max-width: 250px;
    }
    input[type="button"], .custom{
        display: grid;

    }
    .row{
        display: flex;
        flex-direction: column;
    }
  
}

@media screen and (max-width: 350px){

    .container{
        grid-template-columns: repeat(1, 1fr);
        max-width: 310px;
        min-width: 310px;
    }
    .container2{
        max-width:200px;
        min-width: 200px;

    }
    .column-result{
        max-width: 300px;
    }
    input[type="number"]:not(.custom){
        display: flex;
        align-self: center;
        max-width: fit-content;
    }

    .row{
        display: flex;
        flex-direction: column;
    }

    input[type="button"], .custom{
        max-width: 100px;
    }
    .reset{
        max-width: 200px;
    }
    .row > p{
        padding-left: 20px;
    }
  
}